h2 Sign Up
form(action='/sign_up', method='post')
    | first_name :
    input(type='text', name='first_name')
    br
    | last_name :
    input(type='text', name='last_name')
    br
    | email :
    input(type='text', name='email')
    br
    | password :
    input(type='text', name='password')
    br
    input(type='submit',value='submit')
    br
    hr
    hr
h2 Login
form(action='/login_user', method='post')
    | email :
    input(type='text', name='email')
    br
    | password :
    input(type='text', name='password')
    br
    input(type='submit',value='submit')
    br
    hr
    hr

h2 Logout
form(action='/logout', method='post')
    input(type='submit',value='Logout')
    br